body{
    background-color: black;
    display: flex;
    justify-content:center;
    flex-direction: column;
}
h1{color: aliceblue;
font-style: initial;
font-size: xx-large;
text-align: center;
}
img{
    width: 60%;

}
